@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  text-align: center;
  font-family: "Caveat", sans-serif;
  background-color: whitesmoke;
}

h1 {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 2px lightgrey;
  font-size: 40px;
}

.menu {
  margin-top: 15px;
}

.new-grid {
  display: inline;
}

.slider {
  width: 200px;
}

.slider-label {
  font-size: 20px;
}

.btn {
  padding: 5px 10px;
  width: 75px;
  margin: 10px;
  background-color: #5ec576;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline-color: darkgreen;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.create {
  background-color: steelblue;
  color: white;
  outline: none;
}

.reset {
  background-color: #46b4af;
  color: white;
  outline: none;
}

.color-picker {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 5px;
}

.color {
  width: 60px;
  cursor: pointer;
}

.container {
  width: 600px;
  height: 470px;
  margin: 10px auto 0 auto;
  display: grid;
  border: 4px solid rgb(98, 172, 201);
  border-radius: 10px;
  background-color: white;
}

.square {
  border: 1px solid lightgray;
  border-radius: 3px;
}

.square:hover {
  transition: all 0.3s ease;
}

footer {
  font-size: 18px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: orangered;
}
